
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Montserrat',sans-serif;
}

body{
background:#111;
color:white;
}

header{
min-height:110vh;
padding:120px 20px;
background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url("https://images.unsplash.com/photo-1487754180451-c456f719a1fc?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:4rem;
font-weight:800;
letter-spacing:3px;
}

.hero p{
font-size:1.3rem;
margin:20px 0;
color:#ddd;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#d61f1f;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#ff3030;
}

section{
padding:80px 10%;
}

h2{
font-size:2.4rem;
margin-bottom:30px;
text-align:center;
}

.services{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#1e1e1e;
padding:30px;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
color:#ff4444;
margin-bottom:15px;
}

footer{
padding:40px;
text-align:center;
background:#000;
color:#888;
}


#projects{
background:#181818;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:25px;
margin-top:40px;
}

.project{
overflow:hidden;
border-radius:14px;
}

.project img{
width:100%;
display:block;
transition:.5s;
cursor:pointer;
}

.project img:hover{
transform:scale(1.08);
}

